@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Removed dark mode media query to keep light mode always */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  input,
  textarea,
  select {
    color: black;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
}